/* OverviewContent.css */

.OverviewContent-container {
  position: relative;
}

.OverviewContent-infoContainer {
  margin-top: 16px;
  line-height: 28px;
  font-weight: 400;
  font-size: 12px;
}

.OverviewContent-infoContainer h1 {
  font-size: 16px;
  font-weight: 500;
}
