.overview-container {
  margin-top: 4px;
  background-color: white;
  display: flex;
  gap: 5px;
}

.tab-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  background-color: aqua;
}

.tab {
  padding: 8px 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  background-color: #f8fafc;
  color: initial;
}

.tab.active {
  background-color: #94a3b8;
  color: white;
}

.content-container {
  width: 75%;
  background-color: #f8fafc;
  padding: 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
